
#logo {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-size: 100% 300px;
	height: 300px;
	width: 100%;
	margin-bottom: 50px;
}	
#buttonsView {
	margin: 30px;

}
button {
	margin: 5px;
	border-radius: 5px;
	color: white;
	font-size: 16pt;
}

form {
	font-style: georgia;
	font-size: 25pt;
}
#addMovie {
	border-radius: 5px;
	margin-left: 336px;
	font-size: 12pt;
}

#gifsAppearHere div{
	display: inline-block;
	margin: 20px;
}
